.microsoft-logo{
    margin-left: 100px;
    display: flex;
    height: 25px;
    margin-top: 3px;
    cursor: pointer;
}
.main-nav{
    display: flex;
    font-family: segoe UI, helvetica, sans-serif;
    padding-left: 50px;
}
.navBarItems{
    display: flex;
    list-style: none;
    justify-content: space-between ;
    width: 30%;
    font-size: 13px;
    align-items: center;
    margin-left: 15px;
    color: #262626;
    margin-top: -3px;
    cursor: pointer;
}
.down-li:hover{
    text-decoration: #262626 underline solid 3px ;
}
.iphone-li:hover{
    text-decoration: #262626 underline solid 3px;
    text-decoration-skip-ink: none;
}
.num-li:hover{
    text-decoration: #262626 underline solid 3px;
    text-decoration-skip-ink: none;
}
.feat-li:hover{
    text-decoration: #262626 underline solid 3px;
    text-decoration-skip-ink: none;
}
.prod-li:hover{
    text-decoration: #262626 underline solid 3px;
    text-decoration-skip-ink: none;
}
.help-li:hover{
    text-decoration: #262626 underline solid 3px;
    text-decoration-skip-ink: none;
}
.host-li:hover{
    text-decoration: #262626 underline solid 3px;
    text-decoration-skip-ink: none;
}
.sign-li:hover{
    text-decoration: #262626 underline solid 3px;
    text-decoration-skip-ink: none;
}
.end-navItems{
    display: flex;
    list-style: none;
    margin-left: 550px;
    margin-top: 10px;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    width: 8.5%;
    padding-bottom: 8px;
    cursor: pointer;
    
}
.skype-li{
    margin-top: 1px;
    margin-left: 20px;
    font-size: 20px;
    display: block;
    font-weight: 600;
    cursor: pointer;
}

.banner-section{
    display: block;
    width: 30%;
    margin: 150px;
    padding-left: 150px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
.h1-title{
    font-size: 48px;
    
    background-image: linear-gradient(180deg, #0078d4, #c218ec);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.h1-title:hover{
    color: #262626;
}
.sub-text{
    font-size: 18px;
    color: #2b2c33;
}
.btn-skype{
    color: white;
    border: none;
    background-color: #0078ca;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: opacity 1s;
}
.btn-skype:active{
    padding-left: 1px;
}
.btn-skype:hover{
    opacity: 0.5;
}
.skype-link{
    text-decoration: none;
}
.skype-link:hover{
    color: #0b27b5;
}
.banner-section2{
    display: flex;
    justify-content: end;
}
.skype-img{
    height: 600px;
    width: 800px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 850px;
    margin-top: 150px;
}
.colContent{
    text-align: center;
    font-size: 1.3em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
